.wrapper {
    display: flex;
    flex-direction: column; //Quay theo chieeuf dojc
    align-items: center;
}

.container {
    width: 1150px;
    margin-top: 60px;
    display: flex;
}

.content {
    flex: 1; // lấy phần còn lại của display
}
